<section class="content-header">
    <h1>
        Chart
        <small>Chart demo</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Charts</a></li>
        <li class="active">ChartJS</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">职位统计雷达图</div>
                <div class="panel-body">
                    <canvas id="user-job"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">人员人数变化趋势图</div>
                <div class="panel-body">
                    <canvas id="user-increase"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>