<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           My Home Page
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Home</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-repeat="data in vm.home.headDesc">
                <div class="info-box">
                    <span class="info-box-icon bg-{{data.theme}}" style="width: 45%;"><i class="fa fa-{{data.icon}}"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{data.desc}}</span>
                        <span class="info-box-number">{{data.number}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <div class="panel panel-default pre-scrollable">
                    <div class="panel-heading">留言板</div>
                    <div class="panel-body">
                        <div class="message-item" ng-repeat="mes in vm.home.Feeds">
                            <div class="message-icon" style="float: left"><i class="fa fa-magic"></i></div>
                            <div>
                                <span class="message-time" style="float: right;">{{mes.time}}</span>
                                <h5 class="message-header">{{mes.user}}</h5>
                                <div class="message-text"><span class="message">{{mes.text}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                    <div class="panel panel-default pre-scrollable">
                        <div class="panel-heading">学习资源</div>
                        <div class="panel-body wrap">
                            <div class="gallery-box " ng-repeat="item in vm.home.Study">
                                <a ng-href="{{item.url}}">
                                <img class="img-responsive" ng-src="{{item.img}}"/>
                                <h4 class="website-text">{{item.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">

        </div>
    </section>
