
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users List

        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
    <!-- Main content -->
<section class="content">
    <div class="row">
            <table class="table" st-table="peopleTableData" style="text-align: center;">
                <thead>
                <tr class="sortable ">
                    <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                    <th st-sort="Name">Name</th>
                    <th st-sort="username">Username</th>
                    <th st-sort="email">Email</th>
                    <th st-sort="age">Age</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input st-search="Name" placeholder="Search Name" class="input-sm form-control"
                               type="search"/></th>
                    <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
                    </th>
                    <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in peopleTableData">
                    <td class="table-id">{{item.id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.username}}</td>
                    <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                    <td>{{item.age}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="8" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
</section>

